/* line 14, ../../sass/base/components/_site-log.scss */
#site-log {
  background: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  max-width: 1280px;
  padding: 0 10%;
  margin: 0 auto;
}

/* line 22, ../../sass/base/components/_site-log.scss */
.page-heading {
  margin: 2em 0;
}

/* line 25, ../../sass/base/components/_site-log.scss */
.table-of-contents {
  line-height: 1.5em;
}
/* line 27, ../../sass/base/components/_site-log.scss */
.table-of-contents li a {
  text-decoration: none;
  color: #000;
  transition: color .2s;
  letter-spacing: .05em;
}
/* line 32, ../../sass/base/components/_site-log.scss */
.table-of-contents li a:hover {
  color: #00ADEF;
}

/* line 37, ../../sass/base/components/_site-log.scss */
.table-of-contents__category {
  display: inline-block;
  width: 300px;
  margin-right: 15px;
  vertical-align: top;
  line-height: 3em;
  color: #00ADEF;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 48, ../../sass/base/components/_site-log.scss */
.page-title {
  padding: 2em 0 1em;
  text-align: center;
  color: #00ADEF;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* line 55, ../../sass/base/components/_site-log.scss */
.page-title em {
  font-weight: normal;
  font-style: normal;
}

/* line 60, ../../sass/base/components/_site-log.scss */
.page-heading {
  color: #888888;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 66, ../../sass/base/components/_site-log.scss */
.site-log__entry {
  list-style: none;
  line-height: 1.5em;
  margin: 30px 0;
  padding: 0 15px;
  border-top: 1px solid #00ADEF;
}
/* line 72, ../../sass/base/components/_site-log.scss */
.site-log__entry a {
  color: #00ADEF;
  text-decoration: none;
  font-size: .9em;
}
/* line 77, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__name {
  font-size: 2em;
  line-height: 2em;
}
/* line 81, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__info {
  color: #888888;
  letter-spacing: .05em;
}
/* line 85, ../../sass/base/components/_site-log.scss */
.site-log__entry *:before {
  color: #888888;
  display: inline-block;
  width: 12em;
  font-size: .8em;
}
/* line 91, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__url:before {
  content: 'Site URL ';
}
/* line 92, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__info:before {
  content: 'Basic Info ';
  letter-spacing: 0;
}
/* line 93, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__framework:before {
  content: 'Framework ';
}
/* line 94, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__webhost-url:before {
  content: 'Hosting URL ';
}
/* line 95, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__webhost-username:before {
  content: 'Hosting Username ';
}
/* line 96, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__webhost-password:before {
  content: 'Hosting Passord ';
}
/* line 97, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__staging-url:before {
  content: 'Staging URL ';
}
/* line 98, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__account-url:before {
  content: 'Account URL ';
}
/* line 99, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__account-username:before {
  content: 'Account Username ';
}
/* line 100, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__account-password:before {
  content: 'Account Password ';
}
/* line 101, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__ftp-host:before {
  content: 'FTP Hostname ';
}
/* line 102, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__ftp-username:before {
  content: "FTP Username ";
}
/* line 103, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__ftp-password:before {
  content: "FTP Password ";
}
/* line 104, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__vps-host:before {
  content: 'VPS Host ';
}
/* line 105, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__vps-cpanel:before {
  content: 'VPS Control Panel ';
}
/* line 106, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__ssh-username:before {
  content: "SSH Username ";
}
/* line 107, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__ssh-password:before {
  content: "SSH Password ";
}
/* line 108, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__phpmyadmin:before {
  content: 'phpMyAdmin';
}
/* line 109, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__db-host:before {
  content: "Database Host ";
}
/* line 110, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__db-username:before {
  content: "Database Username ";
}
/* line 111, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__db-password:before {
  content: "Database Password ";
}
/* line 112, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__wordpress-username:before {
  content: "WordPress Username ";
}
/* line 113, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__wordpress-password:before {
  content: "WordPress Password ";
}
/* line 114, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__github {
  margin-top: 20px;
}
/* line 116, ../../sass/base/components/_site-log.scss */
.site-log__entry .site__github a {
  background: #00ADEF;
  width: auto;
  color: #FFF;
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .05em;
}
/* line 126, ../../sass/base/components/_site-log.scss */
.site-log__entry:before {
  position: relative;
  top: 1.75em;
  font-size: .65em;
  text-transform: uppercase;
  color: #888888;
  letter-spacing: 1px;
}

/* line 135, ../../sass/base/components/_site-log.scss */
.app:before {
  content: 'App';
  color: #FFA55D;
}

/* line 136, ../../sass/base/components/_site-log.scss */
.hosting:before {
  content: 'Hosting';
  color: #45B2AE;
}

/* line 137, ../../sass/base/components/_site-log.scss */
.client:before {
  content: 'Client Site';
  color: #DF5A49;
}

/* line 138, ../../sass/base/components/_site-log.scss */
.ecommerce:before {
  content: 'eCommerce';
  color: #7DBD3E;
}
