$blue: #00ADEF;
$gray: #898989;

$green: #45B649;
$yellow: #DCE35B;
//$blue: #4BDBE7;
//$gray: #0f0f0f;
$white: #f1f1f1;


@mixin smoothText {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin sans { 
  font-family: "Averia Sans Libre", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin codaFont {
  font-family: "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
