$blue: #4BDBE7;

@mixin smoothText {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

@charset "utf-8";

@import 'pres/reset';
@import 'theme/base';
@import 'theme/typography';
@import 'theme/header';
@import 'theme/main';
@import 'theme/footer';

@import 'modules/cta';
@import 'modules/animate';
@import 'modules/vimeo';