.hero {
   min-height: 600px;
   background: rgba(69,182,73,.8);
   margin-bottom: 30px;    
   @include flexCenter;
   position: relative;
    .hero__headline {
      @include smoothText;
      font-size: 3em;
      padding: .5em;
      color: #fff;
    }
}