.nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    margin-bottom: 60px;
}

.nav__menu-item {
   display: inline-flex;
   color: $white;
}
.nav__menu-item--logo {
    display: flex;
    align-items: center;
    width: 150px;  
}
.nav__menu-link {
   display: flex;
   align-items: center;
   font-size: .9em;
   color: rgb(137, 137, 137);
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 2px;
   padding-right: 50px;   
}
