.slide1,.slide2,.slide3,.slide4,.slide5 {
    background-size: cover;
    background-position: center;
}

.slide1 {
    background-image: url(../img/header/creative-package-design_beer-labels.jpg);
} 
.slide2 {
    background-image: url(../img/header/web-design-wireframing.jpg);
}
.slide3 {
    background-image: url(../img/header/custom-photography-golden-gate-bridge.jpg);
}

.hero {
    width: 100%;
}
.main-content {
    padding-top: 60px;
}