@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Coda);
/* line 2, ../sass/pres/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../sass/pres/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/pres/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../sass/pres/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/pres/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/pres/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../sass/pres/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/theme/_base.scss */
html {
  height: 100%;
  background: #0f2938;
  /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$green', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: -moz-linear-gradient(top, #0f6938 0%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0f6938 0%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0f6938 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/theme/_base.scss */
  html {
    background: #000;
  }
}

/* line 18, ../sass/theme/_base.scss */
body {
  height: 100%;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}

/* line 27, ../sass/theme/_base.scss */
#wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1920px;
  position: fixed;
  z-index: -1;
}

@media (max-width: 1024px) {
  /* line 36, ../sass/theme/_base.scss */
  #bg-container {
    background-attachment: scroll;
    background-position: 30% 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* line 52, ../sass/theme/_base.scss */
  #bg-container {
    height: 1024px;
  }
}
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* line 61, ../sass/theme/_base.scss */
  #bg-container {
    height: 768px;
  }
}
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40 / 71) {
  /* line 71, ../sass/theme/_base.scss */
  #bg-container {
    height: 500px;
  }
}
/* line 2, ../sass/theme/_typography.scss */
html {
  font-size: 16px;
}

/* line 5, ../sass/theme/_typography.scss */
h1, h2, p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Averia Sans Libre", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 9, ../sass/theme/_typography.scss */
a, footer {
  font-family: "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 13, ../sass/theme/_typography.scss */
h1, h2, a, footer {
  text-align: center;
  margin: auto;
}

/* line 17, ../sass/theme/_typography.scss */
h1 {
  color: #fff;
  font-size: 3em;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  /* line 17, ../sass/theme/_typography.scss */
  h1 {
    font-size: 2em;
  }
}

/* line 25, ../sass/theme/_typography.scss */
h2 {
  width: 66%;
  color: #f1f1f1;
  font-size: 1.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  padding: 0 0 15px;
}

/* line 35, ../sass/theme/_typography.scss */
a {
  text-decoration: none;
  color: #f1f1f1;
}

/* line 39, ../sass/theme/_typography.scss */
p {
  color: #f1f1f1;
  font-size: 1.25em;
  line-height: 1.5em;
}

/* line 1, ../sass/theme/_nav.scss */
.nav {
  position: fixed;
  right: 0;
  width: 100%;
}
@media (min-width: 640px) {
  /* line 1, ../sass/theme/_nav.scss */
  .nav {
    width: auto;
  }
}

/* line 9, ../sass/theme/_nav.scss */
.nav__menu {
  text-align: center;
}

/* line 14, ../sass/theme/_nav.scss */
.nav__menu-item {
  display: inline-block;
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 640px) {
  /* line 14, ../sass/theme/_nav.scss */
  .nav__menu-item {
    padding: 30px;
    font-size: 1em;
  }
}

/* line 25, ../sass/theme/_nav.scss */
.nav__menu-link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: color .3s;
}
/* line 29, ../sass/theme/_nav.scss */
.nav__menu-link:hover {
  color: #fff !important;
}

/* line 1, ../sass/theme/_header.scss */
.header {
  height: 100%;
}
/* line 4, ../sass/theme/_header.scss */
.header .header__intro {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 1, ../sass/theme/_main.scss */
#main {
  width: 100%;
  margin: 0 auto;
  padding: 25% 0 25%;
  background: rgba(0, 0, 0, 0.7);
}

/* line 8, ../sass/theme/_main.scss */
#main__gradient-in, #main__gradient-out {
  height: 50vh;
}

/* line 12, ../sass/theme/_main.scss */
#showreel {
  max-width: 960px;
  padding: 10% 0;
  margin: 25% auto 100%;
}

/* line 18, ../sass/theme/_main.scss */
#main__gradient-in {
  margin: 100% auto 0;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}

/* line 27, ../sass/theme/_main.scss */
#main__gradient-out {
  margin: 0 auto 100%;
  background: -webkit-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -ms-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -moz-linear-gradient(bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
}

/* line 3, ../sass/theme/_about.scss */
#about {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-top: 10%;
}

/* line 10, ../sass/theme/_about.scss */
.about__portait, .about__me {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 16, ../sass/theme/_about.scss */
.about__me {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 959px) {
  /* line 16, ../sass/theme/_about.scss */
  .about__me {
    margin: 0;
  }
}

/* line 25, ../sass/theme/_about.scss */
.about__portait {
  width: 100%;
  padding: 0;
}

/* line 30, ../sass/theme/_about.scss */
.about__portrait-container {
  padding-bottom: 100%;
}

/* line 34, ../sass/theme/_about.scss */
.about__portrait-byline {
  padding-left: 20px;
  font-family: "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  color: #fff;
  z-index: 2;
}

/* line 43, ../sass/theme/_about.scss */
.about__intro {
  max-width: 600px;
  margin: auto;
  padding-top: 30px;
  text-align: left;
}

/* line 1, ../sass/theme/_footer.scss */
.footer {
  width: 100%;
  margin: auto;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
}

/* line 10, ../sass/theme/_footer.scss */
.copyright {
  display: block;
  font-size: .75em;
  appearance: normal;
  margin: 30px auto 5px;
}

/* line 16, ../sass/theme/_footer.scss */
.social {
  padding-bottom: 100px;
}

/* line 19, ../sass/theme/_footer.scss */
.social__icon {
  display: inline-block;
  height: 60px;
}
/* line 22, ../sass/theme/_footer.scss */
.social__icon img {
  width: 20px;
}
/* line 25, ../sass/theme/_footer.scss */
.social__icon .icon-facebook, .social__icon .icon-twitter, .social__icon .icon-youtube, .social__icon .icon-vimeo, .social__icon .icon-instagram {
  background: none;
  display: inline-block;
  padding: 30px 10px;
  margin: 0;
}

/* line 1, ../sass/modules/_cta.scss */
.cta {
  width: 50%;
  max-width: 300px;
  font-size: 14px;
  display: block;
  padding: 15px 30px;
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 50px auto 0;
  background: #0f6938;
}

/* line 16, ../sass/modules/_cta.scss */
.anchor {
  visibility: hidden;
  padding-top: 100px;
  margin: 0;
}

/* line 21, ../sass/modules/_cta.scss */
.cta:hover {
  color: #f1f1f1;
  background: #0f0f0f;
}

/* line 25, ../sass/modules/_cta.scss */
.contact__cta {
  display: inline-block;
  margin: 15px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* fade on scroll */
/* line 31, ../sass/modules/_animate.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, ../sass/modules/_animate.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* line 34, ../sass/modules/_animate.scss */
.cbp-so-scroller {
  margin-top: 3em;
  overflow: hidden;
}

/* line 39, ../sass/modules/_animate.scss */
.cbp-so-section {
  margin-bottom: 15em;
}

/* Clear floats of children */
/* line 44, ../sass/modules/_animate.scss */
.cbp-so-section:before,
.cbp-so-section:after {
  content: " ";
  display: table;
}

/* line 50, ../sass/modules/_animate.scss */
.cbp-so-section:after {
  clear: both;
}

/* Text styling */
/* Sides */
/* line 60, ../sass/modules/_animate.scss */
.cbp-so-side {
  width: 50%;
  float: left;
  margin: 0;
  padding: 3em 2%;
  overflow: hidden;
  min-height: 12em;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
/* line 73, ../sass/modules/_animate.scss */
.cbp-so-side:before,
.cbp-so-side:after {
  content: " ";
  display: table;
}

/* line 79, ../sass/modules/_animate.scss */
.cbp-so-side:after {
  clear: both;
}

@media (min-width: 959px) {
  /* line 85, ../sass/modules/_animate.scss */
  .cbp-so-side-right {
    text-align: left;
  }

  /* line 89, ../sass/modules/_animate.scss */
  .cbp-so-side-left {
    text-align: right;
  }

  /* line 93, ../sass/modules/_animate.scss */
  .cbp-so-side-right img {
    float: left;
  }

  /* line 97, ../sass/modules/_animate.scss */
  .cbp-so-side-left img {
    float: right;
  }
}
/* Initial state (hidden or anything else) */
/* line 103, ../sass/modules/_animate.scss */
.cbp-so-init .cbp-so-side {
  opacity: 0;
}

/* line 107, ../sass/modules/_animate.scss */
.cbp-so-init .cbp-so-side-left {
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  transform: translateX(-80px);
}

/* line 113, ../sass/modules/_animate.scss */
.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
/* line 121, ../sass/modules/_animate.scss */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/
@media screen and (max-width: 960px) {
  /* line 138, ../sass/modules/_animate.scss */
  .cbp-so-scroller {
    font-size: 80%;
  }

  /* line 142, ../sass/modules/_animate.scss */
  .cbp-so-side img {
    max-width: 120%;
  }
}
@media screen and (max-width: 960px) {
  /* line 148, ../sass/modules/_animate.scss */
  .cbp-so-side {
    float: none;
    width: 100%;
  }

  /* line 153, ../sass/modules/_animate.scss */
  .cbp-so-side img {
    max-width: 100%;
  }
}
/* line 1, ../sass/modules/_vimeo.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

/* line 8, ../sass/modules/_vimeo.scss */
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
