#main {
  width: 90%;
  max-width: 960px;
  margin: 50% auto 100%;
}

#showreel {
    padding: 20% 0;
}

#about {
  margin: 80% auto 100%;
  padding-top: 20%;
}

.about__me {
  background: rgba(0,0,0,.5);
  padding: 60px;
}
.about__intro {
  max-width: 600px;
  margin: auto;
  padding-top: 30px;
}