.nav {
   position: fixed;
   right: 0;
   width: 100%;
   @media (min-width:640px) {
      width: auto;
   } 
}
.nav__menu {
   
   
   text-align: center;
}
.nav__menu-item {
   display: inline-block;
   padding: 15px;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 1px;
   @media (min-width:640px) {
      padding: 30px;
      font-size: 1em;
   }
}
.nav__menu-link {
    @include smoothText;
	font-family: "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
   transition: color .3s;
   &:hover {
      color: #fff !important;
   }
}