@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Coda);
html {
    font-size: 16px;
}
h1, h2, p {
    @include smoothText;
	font-family: "Averia Sans Libre", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 a, footer {
	font-family: "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, a, footer {
	text-align:center;
	margin:auto;
}
h1 {
	color: #fff;
	font-size: 3em;
	margin-bottom: 30px;
    @media (max-width:767px) {
      font-size: 2em;
    }
}
h2 {
    width: 66%;
	max-width:360px;	
	color: #fff;
	font-size: 1.75em;
	letter-spacing: 1px;
	text-transform:uppercase;
	border-bottom: 1px solid;
	margin-bottom: 15px;
    padding: 0 0 15px;
}
a {
    text-decoration: none;
    color: $blue;
}
p {
    color: #fff;
    font-size: 1.25em;
    line-height: 1.5em;
}