

#about {
  margin: 0 auto;   
  text-align: center;
  width: 100%;
  padding-top: 10%;
}

.about__portait, .about__me { 
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.about__me { 
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    @media (min-width:959px) {
     margin: 0;
    }
}

.about__portait {
 width: 100%;
 padding: 0;
}

.about__portrait-container {
  padding-bottom: 100%;    
}

.about__portrait-byline {
    padding-left: 20px;
    font-family: "Coda", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    color: #fff;
    z-index: 2;
}

.about__intro {
  max-width: 600px;
  margin: auto;
  padding-top: 30px;
  text-align: left;
}
