
body {
  height: 100%;
	 -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

#wrapper {
    padding: 0;
    margin: 0;    
    width: 100%;
    height: 1920px;
    position: fixed;
    z-index: -1;
}

#bg-container {
  @media (max-width:1024px) {
    background-image: url(../img/niko-matses_ui-designer_chalkboard-wireframing_photo-by-justine-chang.jpg);
    background-attachment:scroll;
    background-position: 30% 0;
    background-size:cover;
    width:100%;
    height:100vh;
    padding: 0;
    margin: 0;
  }
}
/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
 #bg-container {
    height: 1024px;
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
#bg-container {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
#bg-container {
    height: 500px;
  }
}