.section__experience {
   font-size: 0;
   margin-bottom: 60px;   
   .main-content__headline {
      font-size: 2rem;
   } 
   .main-content__paragraph {
      vertical-align: top;
      display: inline-block;
      text-align: left;
      font-size: 1.1rem;
      padding-right: 5%;
      @media (min-width: 768px) {
         width: 33%;
         padding: 30px 30px 30px 0;
         font-size: 1.1rem;         
      }
   }
}
.skill__icon {
   display: block;
   width: 30px;
   height: 30px;
   margin: 15px 0;
}