.footer {
    @include codaFont;
	width: 100%;
	margin: auto;
	color: #fff;
	letter-spacing:1px;
	text-transform: uppercase;
	line-height: 1.5em;
    text-align:center;
}
.copyright {
	display:block;
    font-size: .75em; 
	appearance: normal;
	margin: 30px auto 5px ;
}
.social {
    padding-bottom: 100px;
}
.social__icon {
  display: inline-block;
  height: 60px;
  img {
    width: 20px;
  }
  .icon-facebook, .icon-twitter, .icon-youtube, .icon-vimeo, .icon-instagram {
    background: none;
    display: inline-block;
    padding: 30px 10px;
    margin: 0;
  }
}

