@mixin capSpace {
   text-transform: uppercase;
   letter-spacing: 1px;
}
.section__projects {
   @include smoothText;
}

.main-content__headline {}

.project__card {
	background-color: $white;
	border: 15px solid $white;
	@include smoothText;
}

.project__card, .section__skills {
  margin-bottom: 4%;
	vertical-align: top;
	@media (min-width: 640px) {
			display: inline-block;
			width: 45%;
			margin-right: 4%;
	}
}
.project__featured-image {
	max-width: 100%;
	padding-bottom: 15px;
}
.project__label {
   display: block;
}
.project__details {}
.project__title {
   @include codaFont;
   color: $green;
   letter-spacing: .025em;
   font-size: 1.5em;
   padding-bottom: 15px;
}
.project__description {	
	 @include codaFont;
	 font-size: 1.25em;
   line-height: 1.5;
   margin-bottom: 30px;
}
.project__role, .project__tools {
	@include codaFont;
	display: inline-block;
  font-size: .75em;
	line-height: 1.5;
  letter-spacing: .075em;
  text-transform: uppercase;
  background: $ltgray; 
	padding: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.project__tools {
   margin-bottom: 15px;
}
.project__cta {
   @include capSpace;
   @include codaFont;
	 text-align: center;
	 background: $gray;
   .project__link {
		  display: block;
   		padding: 20px;
   		font-size: .85em;
      color: $white;
      text-decoration: none;
   }
	 &:hover {
		background: $green;
	 }
}