.cta {
	width: 50%;
	max-width: 300px;
	font-family: "Averia Sans Libre", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;   
	font-size: 16px;
	display:block;
	padding: 15px 30px;
	color:$green;
	text-decoration: none;
	text-transform:uppercase;
	letter-spacing: 1px;
    transition: background-color 0.3s ease,
                color 0.3s ease;
    margin: 50px auto 0;
    background: $white;
}
.anchor {
  visibility:hidden;
  padding-top:100px;
  margin: 0;    
}
.cta:hover {
	color: $white;
	background: $green;	
}
.contact__cta {
  display: inline-block;
  margin: 15px;
}

