.section {
   padding-bottom: 2em;
}
.main-content {
      background-color: $white;
    .main-content__margins {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2em 1em 0;
    }
    .main-content__headline {
	  @include serif;
      @include smoothText;
      font-size: 3em;
      line-height: 1;
      letter-spacing: 1px;
      padding-bottom: 1em;
      color: $green;
   }
   .main-content__lead-paragraph, .main-content__subhead, .main-content__paragraph {
     @include codaFont;
     @include smoothText;
   }
   .main-content__button {
        display: block;
        text-align: center;
        font-size: 1.5em;
        padding: 1em 1.5em;
        margin: 1em 0 2em;
        border: 3px solid $green;
        text-decoration: none;
        background-color: $green;
        color: #fff;
        @include smoothText;
  }
  .content--inverted {
      padding: 2em 0;
      margin: 2em 0;
      background: $green;
      @include smoothText;
        .main-content__headline,
        .main-content__subhead,
        .main-content__paragraph,
        .main-content__lead-paragraph {
          color: #fff;
        }
        .main-content__button {
          background: #fff;
          color: $green;
        }
    }
}